
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "node_modules/font-awesome/scss/font-awesome.scss";

.hide{
	display: none;
}

#wyszukiwarka {
	:focus {
		box-shadow: none;
	}

	div {
		padding: 5rem;
		padding-top: 0.3rem;
	}

	#szukajZlecen {
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
	}

	#SzukajLokalizacji {
		border-radius: 0px;
		background-color: #ddd;
		color: #fff;
	}

	#szukaj {
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
	}
}