
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "node_modules/font-awesome/scss/font-awesome.scss";

.hide{
	display: none;
}

/****** NAWIGACJA ******/
.navbar {
	button[data-target="#login-modal"] {
		&:hover {
			cursor: pointer;
		}
	}
}

/****** STRONA GŁÓWNA ******/
#glowna {
	.sekcja {
		padding-top: 4rem;
		// background: linear-gradient(to bottom, #ffaf00, #ffaa00);

		.janusz {
			img {
				height: 150px;
			}
		}

		.naglowek {
			text-align: center;
			margin-top: 1.4rem;
		}

		#wyszukiwarka {
			border-radius: .7rem;
		    background-color: #ddd;
	    	padding: 1rem;

			:focus {
				box-shadow: none;
			}

			div {
				padding: 0 5rem 0 5rem;
			}

			#szukajZlecen {
				border-bottom-right-radius: 0px;
				border-top-right-radius: 0px;
			}

			#SzukajLokalizacji {
				border-radius: 0px;
				background-color: #666;
				border-color: #666;
				color: #FFF;

				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: #FFF;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: #FFF;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: #FFF;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: #FFF;
				}
			}

			#szukaj {
				border-bottom-left-radius: 0px;
				border-top-left-radius: 0px;
			}
		}

		.kategoria {
			text-align: center;
			height: 7rem;
			border: 1px solid #ddd;
			border-radius: .7rem;

			&:hover {
				cursor: pointer;
				background-color: #ddd;
				color: #fff;
			}
		}
	}
}

/****** OKIENKO DO LOGOWANIA ******/
#login-modal {
	.loginmodal-container {
		padding: 30px;
		max-width: 350px;
		width: 100% !important;
		background-color: #F7F7F7;
		margin: 0 auto;
		border-radius: 2px;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		overflow: hidden;
		font-family: Dosis;

	  	h1 {
			text-align: center;
			font-size: 1.8em;
		}

		input[type="submit"] {
			width: 100%;
			display: block;
			margin-bottom: 10px;
			position: relative;
		}

		input[type="text"], input[type="password"] {
			height: 44px;
			font-size: 16px;
			width: 100%;
			margin-bottom: 10px;
			-webkit-appearance: none;
			background: #fff;
			border: 1px solid #d9d9d9;
			border-top: 1px solid #c0c0c0;
			padding: 0 8px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;

			&:hover {
				border: 1px solid #b9b9b9;
				border-top: 1px solid #a0a0a0;
				-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
				-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
				box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
			}
		}

		.loginmodal-submit {
			border: 0px;
			color: #fff;
			text-shadow: 0 1px rgba(0,0,0,0.1); 
			background-color: #4d90fe;
			padding: 17px 0px;
			font-family: Dosis;
			font-size: 14px;

			&:hover {
				border: 0px;
				text-shadow: 0 1px rgba(0,0,0,0.3);
				background-color: #357ae8;
				cursor: pointer;
			}
		}
	}
}